*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
    
}
#right-nav{
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin: 30px 30px;
    width: 45%;
    left: 50%;
   
}
#string{
    display: flex;
    position: absolute;
    width: 100%;
    height: 60%;
    top: 50%;
 
}

#left-nav{
    text-align: left;
    padding-left: 40px;
    padding-top: 20px;
    justify-content: left;
    position: absolute;
    top: 20%;
    height: 30%;
    background-color: rgb(247, 180, 54);
}
#left-nav h1{
    padding-top: 20px;
}
#left-nav h3{
    padding-top: 10px;
}
#left-nav button{
    width: 100px;
    top: 10px;
    border-radius: 8px;
    color:rgb(106, 106, 249);
}
#left-nav button:hover{
    width:150px;
    height:50px;
    transition: 2s;
    background-color: rgb(151, 247, 151);
}
#projects{
    display: flex;
    position: absolute;
    justify-content: space-between;
    top: 75%;
    height: 20%;
    width: 100%;
    background-color: aquamarine;
}
#project1{
    text-align: justify;
    position: relative;
    justify-content: center;
    display: flex;
    background-color: bisque;
    width: 30%;
    border-radius: 10px;
    border-color: black;
    border-style: dotted;
    background: url(https://miro.medium.com/v2/resize:fit:1400/1*m0H6-tUbW6grMlezlb52yw.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#project2{
    position: relative;
    justify-content: center;
    display: flex;
    background-color: bisque;
    width: 30%;
    border-radius: 10px;
    border-color: black;
    border-style: dotted;
}
#project3{
    position: relative;
    justify-content: center;
    display: flex;
    background-color: bisque;
    width: 30%;
    border-radius: 10px;
    border-color: black;
    border-style: dotted;
}
#project4{
    position: relative;
    justify-content: center;
    display: flex;
    background-color: bisque;
    width: 30%;
    border-radius: 10px;
    border-color: black;
    border-style: dotted;
}
#project5{
    position: relative;
    justify-content: center;
    border-radius: 10px;
    border-color: black;
    border-style: dotted;
    display: flex;
    background-color: bisque;
    width: 30%;
}
#about-me h3{
    top: 20%;
    left: 30%;
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: red;

}

#about-me p{
    top: 25%;
    left: 30%;
    width: 700px;
    height: 80px;
    display: flex;
    justify-content: center;
    position: absolute;
    background-color: aquamarine;
}
#back{
    font-weight: 400;
    font-size: large;
    top: 20px;
    left: 10px;
    position: relative;
}











@media (max-width: 500px){
    #main{
        flex-direction: column;
    }
    #main #left{
        width: 100%;
    
    }
    #main #right{
        width: 100%;
    }
}